{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
	<a href="{% url 'index' %}" class="brand-link">
		<img src="{% static 'images/cumpa-logo.jpg' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
			style="opacity: .9">
		<span class="brand-text font-weight-light">Cumpa Project</span>
	</a>
	<div class="sidebar">
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				<img src="{% static 'images/user-thumbnail.png' %}" class="img-circle elevation-2" alt="User Image">
			</div>
			<div class="info">
				<a href="#" class="d-block">Joel Torrejón</a>
			</div>
		</div>
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
					<li class="nav-item has-treeview">
					<a href="{% url 'index' %}" class="nav-link">
						<i class="nav-icon fas fa-tachometer-alt"></i>
						<p>Dashboard</p>
					</a>
				</li>
				<li class="nav-item has-treeview">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-comments"></i>
						<p>
							Chats
							<i class="fas fa-angle-left right"></i>
							<span class="badge badge-info right">10</span>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="{% url 'chat_robot' %}" class="nav-link">
								<i class="far fa-circle nav-icon text-danger"></i>
								<p>Chat Robot</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'chat_people' %}" class="nav-link">
								<i class="far fa-circle nav-icon text-warning"></i>
								<p>Chat Personal</p>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item has-treeview">
					<a href="{% url 'customers' %}" class="nav-link">
						<i class="nav-icon fas fa-user"></i>
						<p>Customers</p>
					</a>
				</li>
				<li class="nav-item has-treeview">
					<a href="{% url 'broadcast' %}" class="nav-link">
						<i class="nav-icon fas fa-crow"></i>
						<p>Send Broadcast</p>
					</a>
				</li>
				<li class="nav-header">CUSTOM</li>
				<li class="nav-item">
					<a href="{% url 'settings' %}" class="nav-link">
						<i class="nav-icon fas fa-key"></i>
						<p>Settings</p>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</aside>
